.adobtion__container {
    display: flex;
    justify-content: space-between;
    background-image: url(/images/adobtion-back.png);
    background-size: 100%;
    background-repeat: no-repeat;
}

.adoption__left {
    padding-top: 64px;
    padding-left: 85px;
}

.adobtion__title {
    font-style: normal;
    font-weight: 800;
    font-size: 52px;
    line-height: 68px;
    text-transform: capitalize;
    color: #003459;
}

.adobtion__subtitle {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
    text-transform: capitalize;
    color: #003459;
    margin-bottom: 8px;
}

.adobtion__text {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: #242B33;
    max-width: 394px;
    margin-bottom: 42px;
}

.adobtion__btn {
    display: flex;
    align-items: center;
    border: 1.5px solid #003459;
    border-radius: 57px;
    padding: 12px 28px 12px 28px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #fff;
    background: #003459;
    border-radius: 57px;
    margin-right: 20px;
}

.adobtion__buttons {
    display: flex;
}

.adobtion__btn2 {
    margin-right: 20px;
    border: 1.5px solid #003459;
    border-radius: 57px;
    text-align: center;
    display: flex;
    align-items: center;
    padding: 14px 28px 10px 28px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #003459;
}
@media screen and (max-width:1000px) {
    .adoption{
      display: none;
    }
}