.main__container {
    display: flex;
    justify-content: space-between;
    max-width: 1280px;
}

main {
    background-position: top;
    background-image: url('/images/hero-back.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.main-hero__title {
    text-transform: capitalize;
    font-style: normal;
    font-weight: 800;
    font-size: 44px;
    line-height: 68px;
    color: #002A48;
    margin-top: 75px;
    background-image: url('/images/plugins.svg');
    background-repeat: no-repeat;
}

.main-hero__subtitle {
    text-transform: capitalize;
    font-weight: 700;
    font-size: 33px;
    line-height: 60px;
    color: #002A48;
    margin-bottom: 24px;
}

.main-hero__text {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #242B33;
    margin-bottom: 34px;
}

.main-hero__btn1 {
    text-transform: capitalize;
    margin-right: 20px;
    border: 1.5px solid #003459;
    border-radius: 57px;
    display: flex;
    align-items: center;
    padding: 14px 28px 10px 28px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #003459;
}

.main-hero__btn-icon {
    margin-left: 8px;
}

.main-hero__btn2 {
    text-transform: capitalize;
    background: #003459;
    border-radius: 57px;
    padding: 14px 28px 10px 28px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FDFDFD;
    border: none;
}

.main-hero__buttons {
    display: flex;
}

.main-hero__img {
    background-image: url(/images/background.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 95%;
    max-width: 780px;
}

.main-hero__right {
    background-image: url(/images/main-hero.png);
    background-repeat: no-repeat;
    background-position: left 37px top 49px;
}

@media screen and (max-width:1155px) {
    .main__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }

    .main-hero__left {
        max-width: 470px;

    }

    .main-hero__buttons {
        display: flex;

    }

    .main-hero__right {
        background-image: none;
    }

    .main-hero__title {
        background-image: none;
        background-image: url(/images/icon2.png);
        background-position: bottom left 100px;
    }

    .main-hero__subtitle {
        background-image: url(/images/icon.png);
        background-repeat: no-repeat;
        background-position: left -4px;
    }
}
@media screen and (max-width:775px) {
    .main-hero__img{
        max-width: 350px;
    }
}